*,
*::after,
*::before{
box-sizing: border-box;    
}
/*31:49 minutda galdym */
/*окей хорошо но есть тут некая проблем к нельзя писать здесь статическую ширину
вообще статическая ширина верстки это такое прикольное но опасное явление 
не такое опасное как статическая высота но все
равно то есть смотрите у нас ширина сейчас 1200 px
но мы  не делаем сайт который будет открываться только на больших
мониторах мы хотим чтобы наш сайт отлично работало на мобильном устройстве*/
/*ширина 1200 px не влезет на телефон, поэтому мы не можем писать такую большую статическую ширину */
/*поэтому здесь используется не статическая ширина а используют максимальную ширину max-width 1200 px*/
.container{
    /*max-width eger mumkunculuk bolsa 1200 ede, eger bolmasa onda nace mumkunculuk bolsa sonca ede*/
    /*1200 goysan telefonda ekranyn gyrasyna yapyse son ucun sag we cepden 10 & 15px gosule 
    yagny cepden 10 sagdan 10 jemi 20px padding:0 10px diyip, 
    onson eger bizde max-width:1200px bolon bolsady onda 1200-20=1800 bole 
    bize dizayner 1200 bolsun diydi son ucinem max-width:1220px diyip yazes */
max-width:1220px;
padding: 0 10px;/*telefonlar ucun edile*/
/*margin авто то есть это означает что тут сверху и снизу у него будет 0 а
слева и справа будет автоматически отступ он будет автоматически отталкиваться (<-- content-->) */
margin:0 auto;
}

/*всегда если возникают какие-то непонятки неразберихи всегда значит всегда применяйте такую историю как
просмотреть код то есть вы должны открывать инспектор элементов и сразу лицезреть что идет не так*/